html
{
background-color: black;
}

h1
{
    color: white;
    font-family: "Libre Baskerville", serif;
}

.polarbear
{
    width: 100%;
    border: 5PX solid white;
}

.poster
{
    color: white;
    text-align: center;
    width: 50%;
    margin-left: 25%;

}
